body {
  margin: 0;
  padding: 0;
  border: 0;
}

div {
  border: 1px black solid;
}

.flex {
  display: flex;
}

.container {
  width: 99%;
  flex-direction: column;
  align-items: center;
}

.main-section {
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-image: url(../images/main-section-background.jpg);
  background-size: cover;
  background-position-y: -600px;
  height: 570px;
}

.navbar {
  
}

.verse {
  text-align: center;
}

.verse a {
  text-decoration: none;
  color: white;
}

.verse h1 {
  font-size: 55px;
  font-weight: 100;
}

.verse p {
  font-size: 24px;
  font-weight: 100;
}

.bottom-section {
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
}

.grid img {
  width: 100%;
  height: auto; 
}

.footer-section {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 11px;
}

.footer-section div {
  padding: 0;
  margin-top: 20px;
}

.footer-section p {
  text-align: right;
  padding-right: 40px;
  color: grey;
}

.links {
  list-style: none;
  padding: 0;
  text-align: center;
}

.footer-section a {
  text-decoration: none;
  color: #08c;
}

.links li {
  padding: 0px 10px;
  border-right: 1px solid gray;
  height: 15px;
}

.flag-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding-top: 10px;
  padding-left: 10px;
  margin: 0;
}
